# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DiscreteKnapsackProblem.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Bart\VS_Code_Projects\DiscreteKnapsackProblem\.idea\.idea.DiscreteKnapsackProblem.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
